.orderSuccess{

    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg{
        font-size: 7vmax;
        color: tomato;
    }


    p{
        font-size: 2vmax;
    }


    a{
        background-color: rgb(51, 51, 51);
        color: white;
        border: none;
        padding: 1vmax 3vmax;
        cursor: pointer;
        font-weight: 400;
        font-size: 1vmax;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        margin: 2vmax;        
    }

}

@media screen and (max-width: 770px){
    .orderSuccess {

        a{
            padding: 2vmax 4vmax ;
            font-size: 2vmax;
            margin: 2.5vmax;
        }

        svg{
            font-size: 9vmax;
        }

        p{
            margin: 2.5vmax;
            font-size: 3vmax;
        }
    }
}